{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Urithi{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'finance_app/styles.css' %}">
</head>
<body>
    <header>
        <h1>Urithi</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'add_expenses' %}">Add Expenses</a></li>
            <li><a href="{% url 'goals' %}">Goals</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{% static 'finance_app/script.js' %}"></script>
</body>
</html>
